/* ********************* */
/* ********************* */
/* Normalize Section*/
body {
  font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ********************* */
/* ********************* */
.container {
  width: 1200px;
  margin: 0 auto;
}
.container-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 15px;
}

.container-nav {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.container-list-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.container-top-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.container-main-middle1 {
  display: flex;
  justify-content: center;
}

.container-main-middle2 {
  display: flex;
  justify-content: center;
}

.container-main-bottom {
  display: flex;
  justify-content: space-evenly;
}
/* ********************* */
/* ********************* */
/* Header's Styles */
.header-block {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

.header-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  text-decoration: none;
}

.header-navigation {
  margin: 0 20px;
}

.header-navigation:hover {
  color: #2196f3;
}

.page:visited {
  color: #2196f3;
}

.header-contact {
  color: #757575;
  text-decoration: none;
  margin: 0 25px;
}

.header-contact:hover {
  color: #2196f3;
}

/* ********************* */
/* ********************* */
/* Main's Styles */
.main-top-background {
  background-color: #2f303a;
}

.main-title {
  width: 55%;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
  margin: 10px auto;
}

.button {
  height: 5vh;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
  text-align: center;
  padding: 0 30px;
  margin: 10px auto;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.main-middle {
  width: 90%;
  margin: 0 auto;
}

.main-element-middle {
  margin: 94px 0;
}

.list-main-middle1 {
  width: 20%;
  margin: 0 15px;
}

.subtitle-main-block {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.text-main-block {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.list-main-middle2 {
  margin: 0 15px;
}

.subtitle2-main-block {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 55px;
}

.main-list-background {
  background-color: #ffffff;
}

.main-bottom-block {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.subtitle-bottom-block {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.text-bottom-block {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

/* ********************* */
/* ********************* */
/* Main Portfolio's Styles */
.button-portfolio {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  border: none;
}

.button-portfolio:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.main-name-service {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.main-desc-service {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.main-list-portfolio {
  border: 1px solid #eeeeee;
}

/* ********************* */
/* ********************* */
/* Footer's Styles */
.color-text-white {
  color: #ffffff;
  text-decoration: none;
}

.color-text-gray {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-text-behavior {
  font-style: normal;
  text-decoration: none;
}

.footer-text-behavior:hover {
  color: #2196f3;
}
